#body {
  background-color: green;
  display: block;
  width: 300px;
  margin: 20% auto;
  height: 300px;
  overflow: hidden;
  position: relative;
  .item {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: rgba(34, 34, 34, .60);
    border-radius: 5px;
    p{
      padding: 5px 10px;
      color: white;
      margin: 0;
    }
  }
}