#body {
  background-color: green;
  display: block;
  width: 300px;
  margin: 20% auto;
  height: 300px;
  overflow: hidden;
  position: relative;
  .item {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
     .content{
float: left;
       background-color: rgba(34, 34, 34, .60);
       border-radius: 5px;
.close{
  display: none;
}
       p{
         padding: 5px 10px;
      color: white;
      margin: 0;
    }
  }
  }
  .active{
.close{
  background-color: rgba(34, 34, 34, .60);
  border-radius: 5px;
  float: left;
  background-image: ;
  width: 20px;
  height: 28px;
  display: block;
}
  }
}